aiodns==3.0.0
aiosmtpd==1.4.4.post2
asgiref==3.6.0
atpublic==4.0
attrs==23.1.0
cffi==1.15.1
distlib==0.3.6
Django==4.2.4
django-debug-toolbar==4.1.0
django-mathfilters==1.0.0
Django-Verify-Email==2.0.3
filelock==3.12.0
fpdf==1.7.2
Pillow==10.0.0
platformdirs==3.5.1
psycopg2==2.9.6
pycares==4.3.0
pycparser==2.21
python-decouple==3.8
reportlab==3.6.13
sqlparse==0.4.4
tzdata==2023.3
verify-email==2.4.3
virtualenv==20.23.0
virtualenvwrapper-win==1.2.7
webcolors==1.13