{% extends 'adminside/adminloginbase.html' %}
{% block title %}admin_signup{% endblock %}
{% load static %}
{% block adminbody %}
{% if otp %}
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="{% static 'images/icons/logo.png'%}" width="180" alt="">
                  </a>
                  <p class="text-center">Email verification</p>
                  <form action="{% url 'admin_signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Enter OTP</label>
                      <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp" name="otp">
                      <input type="hidden" value="{{user.email}}" name="email">
                    </div>
                    <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"> Submit </button></a>
                    <br>
                    {% for message in messages %}
                    <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
  
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% else %}
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                    <br>
                    <h3 class="text-center">Signup</h3>
                  <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="{% static 'images/icons/logo.png'%}" width="180" alt="">
                  </a>
              
                  <form action="{% url 'admin_signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputtext1" class="form-label">Name</label>
                      <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp" name="username" value="{{pre_username}}">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{pre_email}}">
                    </div>
                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password1" value="{{pre_password1}}">
                    </div>
                    <a> <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"> Signup </button></a>
                    <div class="mb-3">
                        {% for message in messages %}
                      <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                          {{ message }}
                      </div>
                      {% endfor %}
                    </div>


                    <div class="d-flex align-items-center justify-content-center">
                      <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                      <a class="text-primary fw-bold ms-2" href="#">Sign In</a> <br>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endif %}
{% endblock %} 