{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" alt="image">
  <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'assets/img/favicon.png'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/icon.png' %}" />
  <link rel="stylesheet" href="{% static 'asset1/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'asset1/css/styles.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 
  
  
</head>
<style>
  .message {
    padding: 2px;
    margin-bottom: 2px;
  }

  .message.success {
    color: rgb(54, 169, 68);
    background-color: rgb(255, 255, 255);
  }

  .message.warning {
    color: rgb(252, 248, 6);
    background-color: rgb(255, 255, 255);
  }

  .message.error {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
  }
</style>
<style>  .badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10rem;
}

.alert-success {
  color: #0ab732;
  background-color: #d4edda;
  border-color: #36ff65;
}

.alert-danger {
  color: #fe0000;
  background-color: #ffd3d3;
  border-color: #ffe4e4;
}
.alert-secondary {
  color: #0d0d0d;
  background-color: #c7c7c7;
  border-color: #c8c8c8;
}
.alert-warning {
  color: #181812;
  background-color: #fff53f;
  border-color: #fffc40;
}
.alert-primary {
  color: #252829;
  background-color: #3ffff2;
  border-color: #3cffe8;
}

.alert-View {
  color: #000000;
  background-color: #cecece;
  border-color: #c2c1c1;
}
.sidebar-link{
  text-decoration: none;
}
</style>


<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'dashboard' %}" style="text-decoration: none;" class="text-nowrap logo-img">
            <img src="{% static 'assets/img/favicon.png'%}" width="40" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>

            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'usermanagement_1' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Users</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'categories' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-menu"></i>
                </span>
                <span class="hide-menu">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'product' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
             
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'product_variant' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">variant</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'banners' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">banner</span>
              </a>
            </li>
                                                                                         
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'product_color' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-plus"></i>
                  
                </span>
                <span class="hide-menu">color</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'sales_report' %}" aria-expanded="false"> 
                  <i class="ti ti-report-money"></i>
                </span>
                <span class="hide-menu">Sales Report</span>
              </a>
            </li> 
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'offer' %}" aria-expanded="false"> 
                  <i class="ti ti-report-money"></i>
                </span>
                <span class="hide-menu">offer</span>
              </a>
            </li> 
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'order_list' %}" aria-expanded="false"> 
                  <i class="ti ti-report-money"></i>
                </span>
                <span class="hide-menu">order</span>
              </a>
            </li> 
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'coupon' %}" aria-expanded="false"> 
                  <i class="ti ti-report-money"></i>
                </span>
                <span class="hide-menu">Coupon</span>
              </a>
            </li> 







            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Icons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Sample Page</span>
              </a>
            </li> {% endcomment %}
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">

          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <p style="color: rgb(255, 255, 255);">
            </p>
          </ul>

          <ul class="navbar-nav">
            {% for message in messages %}
            <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
            {% endfor %}
          </ul>

          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'adminimg/img_4515copy.jpg' %}" alt="" width="35" height="35"
                    class="rounded-circle">
                </a>

                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="{% url 'admin_logout1' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        {% block dashbody %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'asset1/libs/jquery/dist/jquery.min.js' %}"></script>

  {% for message in messages %}
      <script>
          document.addEventListener('DOMContentLoaded', function() {
              Swal.fire({
                  text: "{{ message }}",
                  timer: 5000, // Adjust the timer to control how long each alert stays visible (in milliseconds)
              });
          });
      </script>
  {% endfor %}
  <script src="{% static 'asset1/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'asset1/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'asset1/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'asset1/js/app.min.js' %}"></script>
  <script src="{% static 'asset1/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'asset1/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'asset1/js/dashboard.js' %}"></script>
</body>

</html>